<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Boostrap stuff -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/styles.css') }}">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='/scripts/scripts.js') }}"></script>

      {% if title %}
          <title>{{ title }}</title>
          {% else %}
          <title> No title specified</title>
      {% endif %}
  </head>


  <body>
    <!-- Classic boostrap navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/"> All products <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/storeinfo"> Store Information </a></li>
           <li class="nav-item"><a class="nav-link" href="/changepass"> Change User Details </a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/orders"> {{User}}'s Orders </a></li>
            <li class="nav-item"><a class="nav-link" href="/basket"> {{User}}'s Basket </a></li>
            <li class="nav-item"><a class="nav-link" href="/logout"> Logout </a></li>
        </ul>
      </div>
    </nav>

     {% block content %}
    {% endblock %}





    <!-- end of bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </body>


</html>
