<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf%}
<html lang="en">
  <head>
      <!-- Boostrap stuff -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/entrystyles.css') }}">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='/scripts/scripts.js') }}"></script>


      {% if title %}
          <title>{{ title }}</title>
          {% else %}
          <title> No title specified</title>
      {% endif %}
  </head>


  <body>
        <div class="container border border-white rounded jumbotron" id="entryform">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Login to your account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Register a new account</a>
            </li>
          </ul>
          {% if message %}
            <div class="alert alert-warning" role="alert">
            {{message}}
            </div>
          {% endif %}
          <hr class="my-4">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              {% if form1 %}
              <div id="form1">
                  {{ form1.csrf_token }}
                  <form action="" method="post" name="login">
                      {{ wtf.quick_form(form1) }}
                      <div>
                      <a role="button" tabindex="0" class="btn btn-sm btn-alert text-info " data-toggle="popover"
                                      data-placement="bottom" data-content="A minimal amount
                                       of essential cookies are used to improve user experience and run the website.
                                       We will never use cookies for marketing purposes and all information is stored
                                       locally and securely in your browser">
                                  Why do i need cookies ? </a>
                      </div>

<!--                      {{ wtf.form_field(form1.email) }}-->
<!--                      {{ wtf.form_field(form1.password) }}-->
<!--                      {{ wtf.form_field(form1.cookie_consent) }}-->
<!--                      <div class="row cookies" id="cookieinfo">-->
<!--                              <a role="button" tabindex="0" class="btn btn-sm btn-alert text-info" data-toggle="popover"-->
<!--                                      data-placement="bottom" data-content="A minimal amount-->
<!--                                       of essential cookies are used to improve user experience and run the website.-->
<!--                                       We will never use cookies for marketing purposes and all information is stored-->
<!--                                       locally and securely in your browser">-->
<!--                                  Why do i need cookies ? </a>-->
<!--                      </div>-->
<!--                      <div class="text-center">-->
<!--                         {{ wtf.form_field(form1.submit) }}-->
<!--                      </div>-->
                  </form>
              </div>
              {% endif %}
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <!-- show sing up form -->
              {% if form2 %}
              <div id="form2">
                  {{ form2.csrf_token }}
                  <form action="" method="post" name="signup">
                        {{ wtf.quick_form(form2) }}
                  </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
    <!-- end of bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </body>


</html>