{% extends "base.html" %}

{% block content %}
<!-- Title -->
<div class="container-fluid jumbotron">
    <h1 class="display-4"> Scroll through our gorgeous array of beans </h1>
    <hr class="my-4">
<div class="container" id="cardcontainer">
{% for item in data %}
<!-- Display Products -->
{% if ((loop.index+2) %3 == 0) %}
    <div class="row">
{% endif %}
    <div class="card text-white bg-dark mb-3">
        <img class="card-img-top" src="{{images[loop.index-1]}}"  alt="Card image">
      <div class="card-body">
        <h4 class="card-title text-center">{{ item.title }}</h4>
        <p class="card-text" id="remove">{{ item.description }}</p>
        <p class="card-text">Price: £{{ item.price }} </p>
        <div class="text-center">
        {% if( item.available == 1) %}
            <form action="" method="post">
                <button type="submit" name="basketer"  class="btn btn-outline-success" value={{item.product_code}}> Add to basket </button>
            </form>
        {% else %}
            <form action="" method="post">
              <button type="button"  class="btn btn-outline-danger" disabled> Out of Stock  </button>
            </form>
        {% endif %}
        </div>
      </div>
    </div>
{% if ((loop.index+3) %3 == 0) %}
</div> <!-- row -->
{% endif %}
<br>
{% endfor %}
</div>

</div>
{% endblock %}